<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @phone.company %>
</p>

<p>
  <strong>Pmodel:</strong>
  <%= @phone.pmodel %>
</p>

<p>
  <strong>Image:</strong>
 <%= image_tag(@phone.image_url, width: 300) if @phone.image.present? %>
</p>

<p>
  <strong>Dat:</strong>
  <%= @phone.dat %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
