<!-- <p id='alert'><%= alert %></p> -->
  <!--h3 style="color: ">Plz check your email and then  Login</h3-->
<div class="container">
        <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-danger") %>
        <% end %>
</div>


<h1>Login </h1>
<%= form_tag sessions_path do |form| %>

<table>
  <tr>
    <td><%= label_tag :email %></td>
    <td><%= text_field_tag :email %></td>
  </tr>

  <tr>
    <td><%= label_tag :password %></td>
    <td><%= password_field_tag :password %></td>
  </tr>
 
  <tr>
    <td><%= submit_tag 'Login' %></td>
  </tr>

  <tr>
  <td><%= link_to 'Forgot password?', new_password_reset_path %></td>
  </tr>

 </table>

<% end %>