<%= form_with(model: watch, local: true) do |form| %>
  <% if watch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(watch.errors.count, "error") %> prohibited this watch from being saved:</h2>

      <ul>
      <% watch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label :wmodel %>
    <%= form.text_field :wmodel %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :dat %>
    <%= form.date_select :dat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
