<p id="notice"><%= notice %></p>

<h1>Watches</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Wmodel</th>
      <th>Image</th>
      <th>Dat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @watches.each do |watch| %>
      <tr>
        <td><%= watch.company %></td>
        <td><%= watch.wmodel %></td>
           <td><%= image_tag watch.image_url, width: '50%' if watch.image.present? %></td>

        <td><%= watch.dat %></td>
        <td><%= link_to 'Show', watch %></td>
        <td><%= link_to 'Edit', edit_watch_path(watch) %></td>
        <td><%= link_to 'Destroy', watch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Watch', new_watch_path %>
