<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @laptop.company %>
</p>

<p>
  <strong>Processor:</strong>
  <%= @laptop.processor %>
</p>

<p>
  <strong>Image:</strong>
 <%= image_tag(@laptop.image_url, width: 300) if @laptop.image.present? %>
</p>

<p>
  <strong>Dat:</strong>
  <%= @laptop.dat %>
</p>

<%= link_to 'Edit', edit_laptop_path(@laptop) %> |
<%= link_to 'Back', laptops_path %>
